<html>
  <p></p>
  <form name="myForm" onsubmit="alert('The form was submitted and an email was sent')">
    <p><%= image_tag "contactus.jpg" %></p>
    <p>Name:&emsp;<input
            style="width: 400px;"
            type="text"
            name="name"
            required></p>
    <!-- input box for user to enter name -->
    <p>Email: &emsp;<input
            style="width: 400px;"
            type="text"
            name="email"
            required></p>
    <!-- input box for user to enter email -->
    <p>Query:&emsp;<textarea
            style="width: 400px; vertical-align: text-top;"
            name="query"
            rows="7"
            required></textarea>
    </p>
    <!-- input box for user to enter query -->
    <p>
      <a href="/"><button style="width: 200px; height: 40px; border-radius: 6px; background-color: indianred">Back</button></a>
      <!-- button to go back to home page -->
      <button style="width: 200px; height: 40px; border-radius: 6px; background-color: darkolivegreen">Submit</button>
      <!-- button to submit entered values -->
    </p>

  </form>
</html>

<style>
    form {
    text-align: center;
    }
</style>
<!-- css to center align form -->