<html>
  <p></p>
  &nbsp; <%= image_tag "contact.png" %>
  <p></p>
  <form name="myForm" onsubmit="alert('The form was submitted and an email was sent')">
    <p>&nbsp; Name:<p></p>&nbsp; <input
            type="text"
            name="name"
            required></p>
    <p>&nbsp; Email:<p></p>&nbsp; <input
            type="text"
            name="email"
            required></p>
    <p>&nbsp; Query:<p></p>&nbsp; <textarea
            name="query"
            rows="5"
            required></textarea></p>
    <p>&nbsp; <input type ="submit"
            value="Submit"></p>
  </form>
</html>

<p></p>
&nbsp; <%= link_to 'Back', root_path %>