<script>
</script>

<html>
  <h1>Contact Us</h1>
  <form name="myForm">
    <p>Name:<p></p><input type="text"
            name="name"
            required></p>
  <p>Email:<p></p><input type="text"
            name="email"
            required></p>
  <p>Query:<p></p><textarea name="query" rows="5"
                      required></textarea></p>
  <p><input type ="submit"
            value="Submit"></p>
  </form>
</html>

<p> </p>
<%= link_to "Back", welcome_index_path %>