<h1>Football League Website</h1>
<p></p>
<%= link_to "View league tables", welcome_tables_path %>
<p></p>
<%= link_to "View fixtures and results", results_path %>
<p></p>
<%= link_to "Contact us", welcome_contact_path %>