&nbsp;<%= image_tag "logo_banner.png" %>
<!-- website logo displayed at top of the page -->
<p></p>

<nav class="navbar navbar-light bg-light">
  <!-- light navbar at top of page using bootstrap -->
  <a class="navbar-brand" href="/">Home</a>
  <form class="form-inline">
      <a class="btn btn-outline-primary" href="matches/index" role="button">
        Fixtures
      </a>
      <!-- button which directs user to the fixtures page -->
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="fixtures/index" role="button">
        Results
      </a>
      <!-- button which directs user to the results page -->
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" href="tables/index" role="button">
        League Tables
      </a>
      <!-- button which directs user to the league tables page -->
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-info" href="welcome/contact" role="button">
        Contact Us
      </a>
      <!-- button which directs user to the contact us page -->
    </div>
  </form>
</nav>

<p></p>
<h4>&nbsp; Fans to be allowed back in to stadiums this month &emsp;&nbsp; Zaha scores stunner in emphatic win against West Brom</h4>
<p></p>
&nbsp; <%= image_tag "holmesdale-fanatics-display.jpg" %>
<%= image_tag "wilfried-zaha.jpg" %>
<!-- news and images displayed at the bottom of home page -->