<h1>Football League Website</h1>
<p></p>
<%= link_to "View league tables", welcome_tables_path %>
<%= link_to "View fixture and results", welcome_fixtures_path %>
<%= link_to "Contact us", welcome_contact_path %>