<%= image_tag "football_league_logo.jpg" %>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Home Page</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="matches/index" role="button">
        Fixtures
    </a>
    <div style="padding-left: 10px;">
    <a class="btn btn-outline-success" href="fixtures/index" role="button">
        Results
    </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" href="tables/index" role="button">
        League Tables
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-info" href="welcome/contact" role="button">
        Contact Us
      </a>
    </div>
  </form>
</nav>

<p></p>
<h4>&nbsp; Fans to be allowed back in to stadiums this month &emsp;&nbsp; Zaha scores stunner in 2-0 win against West Brom</h4>
<p></p>
&nbsp; <%= image_tag "holmesdale-fanatics-display.jpg" %>
<%= image_tag "wilfried-zaha.jpg" %>