<h1>Football League Website</h1>
<p></p>
<%= button_to "View league tables", table_index_path %>
<p></p>
<%= button_to "View and update results", results_index_path %>
<p></p>
<%= button_to "Contact us", welcome_contact_path %>
<p></p>
<%= image_tag "holmesdale-fanatics-display.jpg" %>