<%= image_tag "football_league_logo.jpg" %>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <form class="form-inline">
    <a class="btn btn-outline-success" href="matches/index" role="button">
        Fixtures
    </a>
    <div style="padding-left: 10px;">
    <a class="btn btn-outline-success" href="fixtures/index" role="button">
        Results
    </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="tables/index" role="button">
        League Tables
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-secondary" href="welcome/new" role="button">
        Contact Us
      </a>
    </div>
  </form>
</nav>

<p></p>
<h2>&nbsp; Fans may be allowed back next month &nbsp; Zaha scores stunner against West Brom</h2>
<p></p>
&nbsp; <%= image_tag "holmesdale-fanatics-display.jpg" %>
<%= image_tag "wilfried-zaha.jpg" %>