<%= image_tag "Premier_League_Logo.svg.png" %>
<h1>League Table</h1>
<p>Pos | Team | W | D | L | GF | GA | GD | Points</p>

<p>num, team, w, d, l, gf, ga, gd, points</p>
<%= link_to "Back", welcome_index_path %>